cffi==1.14.1
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
decorator==4.4.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
jwt==1.0.0
MarkupSafe==1.1.1
psutil==5.7.0
pycparser==2.20
pyte==0.8.0
six==1.15.0
tabulate==0.8.7
thefuck==3.30
wcwidth==0.2.5
Werkzeug==1.0.1
